<div class="container">
  <div class="row">
    <div class="col-xs-12" id= "name"> 
     <%=@profile.full_name%>'s Profile
    </div>
  </div>

    <%= link_to "EDIT", profile_path(@profile.id)%>

  <div class="row">
    <div class="col-xs-4" id ="number">
      <div class="profileField">
        <a id="square" class="fa phone-square fa-phone-square fa-2x" aria-label="linkedin"> </a>
        <%=@profile.phone_number%>
      </div>
    </div>
    <div class="col-xs-4" id ="email">
      <div class="profileField">
        <a id="envelope" class="fa fa-envelope fa-2x" aria-label="linkedin"> </a>
        <%=@profile.email%>
      </div>
    </div>
    <div class="col-xs-4" id ="address">
      <div class="profileField">
        <a id="card" class="fa fa-address-card fa-2x" aria-label="linkedin"> </a>
        <%=@profile.address%>
      </div>
    </div>
  </div>    <!--row-->

  <div class="row" id="logos">
    <div class="col-xs-4 col-xs-offset-4">
      <img src="/resume.png" height="120"/>
      <img src="/linkedin.png" height="120"/>
      <img src="/documents.png" height="120"/>
    </div>
  </div>

  <!--
  <div class="row">
      <div class="col-xs-4" id ="avatar">
       LinkedIn
      </div>
      <div class="col-xs-4" id ="linkedin">
        Other social
      </div>
      <div class="col-xs-4" id ="linkedin">
        Updated document
      </div>
  </div>    -->

</div>    <!--container-->



