<div class="row" id="stat">
  <div class="col-xs-2">
    <h4 class="progressTitle">
          <%= link_to "New Company", companies_path%>
    </h4>
  </div>
  <div class="col-xs-8">
  <div class="col-xs-2">
    <div class="progressTitle">
      Resume Sent
    </div>
  </div>
  <div class="col-xs-2">
    <div class="progressTitle">
      Screen
    </div>
  </div>
  <div class="col-xs-2">
    <div class="progressTitle">
      Interview
    </div>
  </div>
  <div class="col-xs-2">
    <div class="progressTitle">
      Negotiation
    </div>
  </div>
  <div class="col-xs-2">
    <div class="progressTitle">
      Completed
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
  <div class="col-xs-2">
    <div class="progressTitle">
      Update Status
    </div>
  </div>
</div>
<%@companies.each do |company|%>
  <div class="row" style="height:7vh;">
    <div class="col-xs-2">
      <h4>
        <%=link_to company_path(company.id) do%>
          <%= company.company_name%>
        <%end%>
      </h4>
    </div>
    <%if company.progress == "Resume Sent"%>
    <div class="col-xs-8">
    <div class="col-xs-2 text-center progress_bar" >
    </div>
    <div class="col-xs-10">
    </div>
  </div>
    <div class="col-xs-2">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left" do |form| %>
        <div class="form-group">
            <%= form.select :progress, ['Resume Sent', 'Screen', 'Interview', 'Negotiation', 'Completed'], class:"form-control" %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%elsif company.progress == "Screen"%>
    <div class="col-xs-8">
    <div class="col-xs-4 text-center progress_bar" >
    </div>
    <div class="col-xs-8">
    </div>
    </div>
    <div class="col-xs-2">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left" do |form| %>
        <div class="form-group">
            <%= form.select :progress, options_for_select(['Resume Sent', ['Screen', {selected: "selected"}], 'Interview', 'Negotiation', 'Completed']) %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%elsif company.progress == "Interview"%>
    <div class="col-xs-8">
    <div class="col-xs-6 text-center progress_bar" >
    </div>
    <div class="col-xs-6">
    </div>
    </div>
    <div class="col-xs-2">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left", remote: true do |form| %>
        <div class="form-group">
            <%= form.select :progress, options_for_select(['Resume Sent', 'Screen', ['Interview', {selected: "selected"}], 'Negotiation', 'Completed']) %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%elsif company.progress == "Negotiation"%>
    <div class="col-xs-8">
    <div class="col-xs-8 text-center progress_bar" >
    </div>
    <div class="col-xs-4">
    </div>
    </div>
    <div class="col-xs-2">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left", remote: true do |form| %>
        <div class="form-group">
            <%= form.select :progress, options_for_select(['Resume Sent', 'Screen', 'Interview', ['Negotiation', {selected: "selected"}], 'Completed']) %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%elsif company.progress == "Completed"%>
    <div class="col-xs-8">
    <div class="col-xs-10 text-center progress_bar" >
    </div>
    </div>
    <div class="col-xs-2">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left", remote: true do |form| %>
        <div class="form-group">
            <%= form.select :progress, options_for_select(['Resume Sent', 'Screen', 'Interview', 'Negotiation', ['Completed', {selected: "selected"}]]) %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%else%>
    <div class="col-xs-5 text-center sorry" >
    </div>
    <div class="col-xs-5">
      <%= form_with scope: :companies, url: update_company_path(company.id), method: :put, class: "progress_change form-horizontal float-left", remote: true do |form| %>
        <div class="form-group">
            <%= form.select :progress, ['Resume Sent', 'Screen', 'Interview', 'Negotiation', 'Completed'] %>
            <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </div>
      <% end %>
    </div>
    <%end%>
  </div>
<%end%>
