<div class="row">
<div class="col-xs-8 col-xs-offset-2">
  <%= link_to "New Company", companies_path%>
  <%= link_to "New Task", tasks_path%>
  <%=render "chart"%>
  <%=render 'progress'%>
</div>
</div>
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<%current_user.tasks.each do |task|%>
  <h1><%=task.subject%></h1>
  <p><%=task.details%></h1>
<%end%>
</div>
</div>
