<div class="col-xs-8 col-xs-offset-2">
  <%= link_to "New Company", add_company_path%>
  <div class="row">
    <div class="col-xs-2">
      <h3>
        Company
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Resume Sent
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Screen
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Interview
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Negotiation
      </h3>
    </div>
    <div class="col-xs-1">
      <h3>
        Completed
      </h3>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <%@companies.each do |company|%>
    <div class="row" style="height:7vh;">
      <div class="col-xs-2">
        <h4>
          <%=link_to company_path(company.id) do%>
            <%= company.company_name%>
          <%end%>
        </h4>
      </div>
      <%if company.progress == "Resume Sent"%>
      <div class="col-xs-2 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Screen"%>
      <div class="col-xs-4 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Interview"%>
      <div class="col-xs-6 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Negotiation"%>
      <div class="col-xs-8 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Completed"%>
      <div class="col-xs-9 text-center progress_bar" >
      </div>
      <%else%>
      <div class="col-xs-9 text-center sorry" >
      </div>
      <%end%>
      <div class="col-xs-1">
        <%=link_to edit_company_path(company.id) do%>
          <span class="glyphicon glyphicon-pencil"></span>
        <%end%>
        <%=link_to company_path(company.id), method: :delete do%>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
