<div class="col-xs-10 col-xs-offset-1">
  <%= link_to "New Company", companies_path%>

  
  <div class="row" id="stat">
    <div class="col-xs-2">
      <h3>
        Company
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Resume Sent
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Screen
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Interview
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Negotiation
      </h3>
    </div>
    <div class="col-xs-2">
      <h3>
        Completed
      </h3>
    </div>
  </div>


  <%@companies.each do |company|%>
    <div class="row" style="height:7vh;">
      <div class="col-xs-2">
        <h4>
          <%=link_to company_path(company.id) do%>
            <%= company.company_name%>
          <%end%>
        </h4>
      </div>
      <%if company.progress == "Resume Sent"%>
      <div class="col-xs-2 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Screen"%>
      <div class="col-xs-4 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Interview"%>
      <div class="col-xs-6 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Negotiation"%>
      <div class="col-xs-8 text-center progress_bar" >
      </div>
      <%elsif company.progress == "Completed"%>
      <div class="col-xs-9 text-center progress_bar" >
      </div>
      <%else%>
      <div class="col-xs-9 text-center sorry" >
      </div>
      <%end%>
      <div class="col-xs-1 progress_change">
        <%=link_to edit_company_path(company.id), class:"progress_icon", id: "progress_edit",remote: true do%>
          <span class=" glyphicon glyphicon-pencil"></span>
        <%end%>
        <%=link_to company_path(company.id), method: :delete, class:"progress_icon", id: "progress_delete",remote: true do%>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      </div>
    </div>
  <%end%>
    <%=render "chart"%>
</div>
