<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <%= column_chart Company.where("user_id = #{current_user.id}").group_by_day(:created_at).count, ytitle: "Company record added" %>
    </div>
    <div class="col-xs-6">
      <%= bar_chart Company.where("user_id = #{current_user.id}").group_by_day_of_week(:created_at, format: "%a").count, ytitle: "Most active DOWs", colors: ["pink"] %>
    </div>
  </div>    <!--row-->


  <div class="row">

    <div class="col-xs-8">
      <%=render 'progress'%>
      <p>
        <%= link_to "New Company", companies_path%>
        <%= link_to "New Task", tasks_path%>
      </p>
    </div>

    <div class="col-xs-4">
      <h1>Tasks</h1>
      <%current_user.tasks.each do |task|%>
        <p><%=task.subject%></p>
        <%=link_to task_edit_path(task.id) do%>
          <span class="glyphicon glyphicon-pencil"></span>
        <%end%>
        <%=link_to task_path(task.id), method: :delete do%>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      <%end%>
    </div>
  </div>      <!--row-->
</div>        <!--container-->

