

<div class="container-fluid">
  <div class="col-xs-12" id=dash>
    <div id ="dashboard"> DASHBOARD</div>
    <div class="row" id="charts">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-3" id="bar">
        <%= column_chart Company.where("user_id = #{current_user.id}").group_by_day(:created_at).count, ytitle: "Company record added", colors:["#7b99c1"] %>
      </div>
      <div class="col-xs-3" id="bar2">
        <%= bar_chart Company.where("user_id = #{current_user.id}").group_by_day_of_week(:created_at, format: "%a").count, ytitle: "Most active DOWs", colors: ["#7b99c1"] %>
      </div>
    </div>
    <div class="row" id="lists">
      <div class="col-lg-8" id='company'>
        <%=render 'progress'%>
      </div>

      <div class="col-lg-3" id="tasks">
        <%if current_user.tasks == []%>
          <%= link_to tasks_path do%>
          <h2>Click to add task</h2>
          <%end%>
        <%else%>
          <%= link_to tasks_path do%>
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
          <%end%>
        <%end%>
        <%current_user.tasks.each do |task|%>
        <div class = "taskbackground">
        <u><h4><%=task.subject%> -- <%=task.status%></h4></u>
        <p><%=task.details%></p>
        </div>
        <%=link_to task_edit_path(task.id) do%>
        <span class="glyphicon glyphicon-pencil"></span>
        <%end%>
        <%=link_to task_path(task.id), method: :delete do%>
        <span class="glyphicon glyphicon-trash"></span>
        <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
